.login-form svg.svg-inline--fa{
  color:#ffffff;
}

.add-button {
  /* border: none;
  background-color: #3f88b9;
  padding: 5px 15px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: rgba(0,0,0,0) 2px solid; */
  background-color: #3f88b9;
  border: 1px solid #009FC6;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0) inset, 0 0 5px 2px rgba(0,0,0,0);
  border-radius: 5px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: white;
  padding: 6px 12px;
}
.add-button:hover {
  /* background-color: white;
  color: black;
  border: #3f88b9 2px solid;
  font-weight: bold;
  position: relative; */
  box-shadow: 0 0 10px 0 #3f88b9 inset, 0 0 5px 2px #3f88b9;
  border: 1px solid #3f88b9;
}

.csv-button {
  border: none;
  background-color: #138b08;
  padding: 5px 15px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: rgba(0,0,0,0) 2px solid;

}

.csv-button:hover {
  background-color: white;
  color: black;
  border: #138b08 2px solid;
  font-weight: bold;
  position: relative;
}

.heading-style {
  font-size: 18px;
  margin-bottom: 7px;
  margin-left: 8px;
  margin-top: -39px;
}


.print-button {
  border: none;
  background-color: #49b93f;
  padding: 5px 15px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: rgba(0,0,0,0) 2px solid;

}
.print-button-style {
  margin-bottom: -5px;
  margin-left: -9px;
  margin-top: -5px;
}

.print-button:hover {
  background-color: white;
  color: black;
  border: #49b93f 2px solid;
  font-weight: bold;
  position: relative;
}

.customize-border {
  border-bottom: 1px #cbc4c4 solid;
}
.nav-item.active{
  background: rgba(255,255,255,.1);
}
.error-feedback {
  color: red;
  font-family: system-ui;
  margin-left: 5px;
}




[class*=sidebar-dark-] .sidebar a:focus, [class*=sidebar-dark-] .sidebar a:hover {
  margin-bottom: 0px;
}