* {
    font-family: 'Poppins', sans-serif;
  }


 
.sidebar svg.fa-buffer{
    font-size: 20px !important;
}

.sidebar a.nav-link{
    white-space: normal !important;
}

.sidebar svg.fa-cog{
    font-size: 20px !important;
}




